body {
   margin:0;
   padding: 0; 
   
}

button {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 30px;
    width: 240px;
    height: 60px;
    border-radius: 80px;
    line-height: 60px;
    text-align: center;
    border: 3px solid #2c365d;
    display: block;
    text-decoration: none;
    margin: 200px auto;
    color: #2c365d;
    position: relative;
    overflow: hidden;
    background: transparent;
    bottom: 100px;
    

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    width: 700px;
    height: 60px;
    padding: 10px;
    margin: 100px auto;
    color:  #2c365d;
    position: relative;
   
}
  
#cajagrande {
   width: 900px;
   height: 150px;
   margin: 100px auto;
   bottom: 450px;
   background-color: #ff5e3a; 
   position: relative; 
   border-radius: 80px;
}

#cajagrande img {
   width: 500px;
   padding: 0px 200px 0px 200px; 
   border-radius: 50px;
}


#results p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    width: 500px;
    height: 150px;
    top: 120px;
    padding: 30px;
    margin: 100px auto;
    color:  White;
    position: relative;
    background-color: #ff5e3a; 
    border-radius: 80px;
}
